<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>KRU NtUserPM</title>
  <link rel="icon" href="/home/logo/nt.png" type="image/x-icon" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/asset/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/asset/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/asset/dist/css/skins/_all-skins.min.css">
   <link href="/asset/css/bootstrap-dialog.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <!-- Fonts -->
    	<!-- Open Sans -->
    	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600,700italic,400,700,800italic" rel="stylesheet" type="text/css">
    	<!-- VarelaRound -->
    	<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
    	<!-- Icon Font - Font Awesome -->
	<!-- Stylesheets -->
		<!-- Mobile nav -->
		<link href="/asset/external/z-nav/z-nav.css" rel="stylesheet" type="text/css">
        <link href="/asset/external/animated-header/css/component.css" rel="stylesheet" type="text/css">
        <!-- Magnific popup - responsive popup plugin -->
        <link href="/asset/external/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
        <link href="/asset/external/tabs/tabs.css" rel="stylesheet" type="text/css">
        <link href="/asset/external/tabs/tabstyles.css" rel="stylesheet" type="text/css">
        <!-- Blueberry Slider -->
        <link href="/asset/external/blueberry-master/blueberry.css">		
		<!-- Custom -->
        <link href="/asset/css/stylelogin.css" rel="stylesheet" type="text/css"> 

        <!--[if IE]><link rel="icon"  href="/home/logo/nt.png" /><![endif]-->
        <link rel="icon" href="/home/logo/nt.png" type="image/x-icon" />
        <!-- Specifying a Webpage Icon for Web Clip -->
        <link rel="icon" href="/home/logo/nt.png" type="image/x-icon" />
        <!-- Modernizr -->


    
    <div id="page" class="page wrapper"><div class="block-top" id="header-4">
          </div>
          <div class="fixed-top header-down bg-color">
            <div class="container">
              <!--  Logo  -->
              <a class="logo" href="https://telegram.me/NtUserPM">
                <h1 class="logo__text editContent" style="outline: medium none; cursor: inherit;">NtUser PREMIUM</h1>
              </a>
              <!-- End Logo -->
            </div>
            <!-- end container -->
            <!-- Colored devider -->
            <div class="devider-color"></div>
          </div>
          <!-- end fixed top block -->
        </div>
      </header>
    </div>
<div class="login-box-body">	
<section class="content">	
	<div class="space space--lg">
	</div>

		<div class="block" id="feature2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"><br>
                        <h2 class="block-title block-title--left editContent">Panel Id Premium<span class="block-title-color bg-color"></span></h2>

<ul class="list list--ckeck text-list" style="color: #660404">
                    <li>Mudah untuk membuat id premium ssh & vpn account...</li>
                    <li>Menggunakan SG Fast Server...</li>
                    <li>Harga yang berpatutan...</li>
                </ul>
                    </div><!-- end col -->
                <div>
            </div>
                    <div class="col-md-6">
                        <h2 class="block-title block-title--left editContent">KRU Login<span class="block-title-color bg-color"></span></h2>
                                <div class="login">
   <form action="/login" method="post">
     <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input required="required" id="username" type="text" class="form-control" name="username" value="" placeholder="Username">                                        
                                        </div>
                                         <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input required="required" id="password" type="password" class="form-control" name="password" placeholder="Password">
                                     </div>                                                                 
                                    <div style="margin-top:15px" class="form-group">
                                    <!-- Button -->
                                    <div class="col-lg-12">
                                      <span ></span>
                                     <input  type="submit" value=" LOGIN " name="submit" class="btn btn-success"> &nbsp;&nbsp;&nbsp;&nbsp; (untuk KRU NtUserPM shj)
                                    </div><br>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Berminat untuk menjadi KRU NtuserPM? 
                                        <a href="https://telegram.me/NtUser">&nbsp;&nbsp;
                                            Sila PM NtUser
                                        </a>
                                        </div>
                                    </div>
                                </div>    
    </form>
                </div>
                    </div><!-- end col -->
            </div><!-- end row -->
            </div> </div>
	   	
    	<div class="space space--lg">   
        
             </div><!-- /#page -->
   </section> 
   
   </div>      
 
  <footer>  
    <div class="block-bottom" id="footer-6">
            <!-- Colored devider -->
            <div class="devider-color"></div>
            <!-- Footer section -->
            <footer class="footer footer--simple bg-color">
                <div class="container">
                    <ul class="navigation navigation--add">
                    <li><a href="https://telegram.me/NtUser" class="editContent">Copyright &copy; NtUser</a></li>
                    </ul> </div>
           <!-- end container -->
            </footer>
            <!-- end footer section -->
       


		
		


<script type="text/javascript" src="/asset/external/waypoint/waypoints.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="/asset/external/modernizr/modernizr.custom.js"></script>
<script type="text/javascript" src="/asset/external/z-nav/jquery.mobile.menu.js"></script>
<script type="text/javascript" src="/asset/js/custom.js"></script>
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" href="/asset/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.0.0/metisMenu.min.js"></script>
<link rel="stylesheet" href="/../plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/../plugins/datepicker/datepicker3.css">
<script src="/asset/js/bootstrap.min.js"></script>
<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/plugins/fastclick/fastclick.js"></script>
<script src="/asset/dist/js/app.min.js"></script>
<script src="/../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/../plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#fornesia').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
  <script src="/../plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="/asset/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript">
        $('.input-group.date').datepicker({
            format: "yyyy/mm/dd",
            weekStart: 1,
            clearBtn: true,
            language: "id",
            autoclose: true,
            todayHighlight: true
        });
        $('.hapus').click(function(e) {
            e.preventDefault();
            BootstrapDialog.confirm({
                title: 'Confirm',
                message: ' Are you sure?',
                type: BootstrapDialog.TYPE_DANGER,
                closable: true,
                btnCancelLabel: 'Cancel',
                btnOKLabel: 'Delete',
                btnOKClass: 'btn-danger',
                callback: function(result) {
                    if(result) {
                        location.href = $('.hapus').attr('href');
                    }
                }
            });
        });
        function print_report() {
            window.print();
            return false;
        }
    </script>

</body>
</html>